.content
  .welcome.intro
    .col-sm-8.col-sm-offset-2
      .row
        .col-xs-12
          = image_tag "qc.png", class: "profile-pic"
        .col-sm-10.col-sm-offset-1
          h1 Hi, I'm Qin Cheng
          h4 
            = "I'm a Computer Science student at "
            = link_to "SUTD. ", "https://en.wikipedia.org/wiki/Singapore_University_of_Technology_and_Design"
            = "As an aspiring entrepreneur, I am eager to learn and apply new skills to make the world a better place."
          = link_to "https://github.com/Peh-QinCheng", target: '_blank'
            = image_tag "github.png", alt: "Github"